*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    accent-color: var(--accent-color);
}

:root
{
    --bg-color: #0c0c0c;
    --accent-color: #0022b8;
}

html, body
{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body
{
    background-color: var(--bg-color);
    color: #eee;
    display: grid;
    grid-template-rows: max-content 1fr;
}

body > main
{
    max-height: 100%;
    overflow: hidden;
}

body .view
{
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

form > .btn
{
    font-size: 1rem;
}